// header
ion-header.ios.build-header-ios, ion-toolbar.ios.build-header-ios {
    --background: white;
    background: white;
}

// tela de login


// tela do home
ion-icon.build-home-ios.ios {
    color: white;
}

//alerts 
.alert-wrapper.ion-overlay-wrapper.sc-ion-alert-ios {
    background: white;
}