// header
ion-header.ios.build-header-ios, ion-toolbar.ios.build-header-ios {
    --background: white;
    background: white;
}

// tela de login
ion-item.build-login-ios.ios {
    --background: white;
}
ion-button.build-login-ios.ios {
    --box-shadow: none;
}